version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: 12345
      POSTGRES_USER: user
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    restart: unless-stopped
volumes:
  postgres_data: